# MockAPI Project Token (Private)
# Important: Remove NEXT_PUBLIC_ prefix to prevent exposing this token on the client
PROJECT_TOKEN=your_token_here

# NextAuth Configuration
AUTH_SECRET=your_auth_secret_here
